/* Created by: Domenic Dangelo
* Created on: feb 2025
* This file contains the CSS for index.html
*/

body {
  background-color: rgba(9, 186, 74, 0.937);
}

h1 {
  background-color: rgb(229, 39, 39);
  color: hsl(0, 0%, 0%);
  padding: 10px;
  text-align: center;
  font-size: x-large;
}
img {
  padding: 10px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}